@use "@angular/material" as mat;

$primary-palette: (
  50: #dce1f4,
  100: #c2ccec,
  200: #92a0d9,
  300: #6274c6,
  400: #3a5ba9,
  // primary color
  500: #324e93,
  600: #2a417d,
  700: #223567,
  800: #1a2951,
  900: #121d3b,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: white,
    400: white,
    // primary color contrast
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$accent-palette: (
  50: #ffe7e0,
  100: #ffd0c2,
  200: #ffa389,
  300: #ff7651,
  400: #ff511f,
  // accent color
  500: #e6471b,
  600: #cc3d17,
  700: #b33313,
  800: #99290f,
  900: #7f1f0b,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: white,
    // accent color contrast
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

// Create the theme with your custom palettes
$theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette($primary-palette),
      accent: mat.define-palette($accent-palette),
    ),
  )
);

// Include all the theme styles
@include mat.all-component-themes($theme);