@use "@angular/material" as mat;

// Define your custom color configurations with new primary and accent colors
$primary-palette: (
  50: #e8f0fa,
  100: #c6d9f1,
  200: #a1bfe8,
  300: #7ba6df,
  400: #5e91d6,
  // Your new primary color
  500: #0b4b6f,
  600: #0a4566,
  700: #093e5c,
  800: #083752,
  900: #062f43,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: white,
    // Your new primary color contrast
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$accent-palette: (
  50: #fdf4e4,
  100: #fbe3bc,
  200: #f9d091,
  300: #f7bd66,
  400: #f5af44,
  // Your new accent color
  500: #f3a024,
  600: #e19522,
  700: #cf891f,
  800: #bd7e1c,
  900: #a66f18,
  contrast: (
    50: black,
    100: black,
    200: black,
    300: black,
    400: black,
    // Your new accent color contrast
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

// Create the theme with your custom palettes
$theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette($primary-palette),
      accent: mat.define-palette($accent-palette),
    ),
  )
);

// Include all the theme styles
@include mat.all-component-themes($theme);